@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

body {
    box-sizing: border-box;
    background: #2d3250;
    overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15pt;
    font-family: "Golos Text";
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: normal;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

.btn {
    background: linear-gradient(to right, #f9b17a, #fc9342);
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    margin-top: 25px;
    cursor: pointer;
    box-shadow: 0px 5px 10px -3px rgb(0 0 0 / 37%);
    transition: 0.2s;
}

    .btn:active {
        transform: translateY(5px);
        box-shadow: none;
    }

/*               header                */
header {
    height: 672px;
    width: 100%;
    max-width: 1420px;
    margin: auto;
}

    header nav {
        height: 130px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

        header nav ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
        }

            header nav ul li {
                display: inline-block;
                margin-right: 23.5px;
                margin-left: 23.5px;
            }

                header nav ul li a {
                    text-decoration: none;
                    font-size: 13pt;
                    color: #676f9d;
                    text-transform: capitalize;
                }

                header nav ul li img {
                    width: 50px;
                    cursor: pointer;
                    border-radius: 30px;
                    transition: background 0.3s;
                }

                    header nav ul li img:active {
                        background: rgba(128, 128, 128, 0.255);
                    }

    header div img {
        width: 172.8px;
    }

.container-div-prt {
    width: 100%;
    height: 540px;
    /* border: dashed grey 1px; */
    display: flex;
    flex-direction: row-reverse;
}

.prt {
    height: 90%;
    /* border: 1px solid grey; */
    display: inline-flex;
}

.st {
    width: 40%;
    padding-top: 3%;
    padding-left: 10%;
    margin-right: 10%;
}

.sd {
    width: 40%;
    position: relative;
}

.st img {
    width: 100%;
}

.sd span {
    font-size: 60px;
    color: #f9b17a;
    letter-spacing: 2px;
}

.sd h1 {
    font-size: 70px;
    color: #FFF;
    line-height: 75px;
    font-weight: 500;
}

.ris {
    width: 300px;
    /* border: 1px dashed grey; */
    position: absolute;
    top: 56%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.icon2 {
    width: 20px;
    margin: -7px 3px -5px;
}

/*               section about                */
.about {
    height: max-content;
}

.fir {
    width: 60%;
    max-width: 821px;
    text-align: center;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 100px;
    position: relative;
    height: 300px;
}

    .fir h2 {
        text-transform: capitalize;
        margin: 30px 0;
        color: #f9b17a;
        font-size: 30px;
    }

    .fir p {
        color: #FFF;
    }

    .fir > img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }

.icon1 {
    margin: -4px;
    margin-right: 10px;
}

.sec {
    max-width: 100%;
}
/*            section features             */
.features {
    height: max-content;
    padding-bottom: 20px;
}

.ftr {
    width: 800px;
    margin: 100px auto 40px;
}

    .ftr h3 {
        color: #FFF;
        font-weight: 500;
    }

    .ftr h2 {
        font-size: 60px;
        margin: 15px 0 15px;
        color: #f9b17a;
    }

.worker {
    max-height: 700px;
    max-width: 846px;
    margin: auto;
    border: 1px solid rgba(106, 105, 105, 0.303);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .worker img {
        max-width: 100%;
        max-height: 100%;
    }

/*            section why             */
.why {
    height: 550px;
    width: 100%;
    /* padding: 20px; */
    /* border: 1px dashed grey; */
}

.container-div-why {
    max-width: 1060px;
    width: 90%;
    height: 100%;
    margin: auto;
    /* border: 1px dashed grey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dr {
    width: 49%;
    height: 100%;
    margin: 0;
    /* background: rgba(128, 128, 128, 0.097); */
    position: relative;
}

.tw {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

    .tw h3 {
        color: #f9b17a;
        margin: 25px 0 25px;
        font-size: 30px;
    }

    .tw p {
        color: #FFF;
        font-weight: 300;
    }

.dr figure img {
    width: 100%;
}

/*               section cover                */
.cover {
    height: 600px;
    background-image: url("img/Uwd40yYZfRw.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

    .cover div {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .cover div img {
            width: 40px;
            margin: 0 0 30px;
            cursor: pointer;
        }

        .cover div h4 {
            color: #FFF;
            font-family: 500;
            font-size: 25px;
        }

/*               CTA                */
.cta {
    padding-top: 100px;
    height: 1475px;
}

.cont-btn {
    width: 800px;
    margin: auto;
    text-align: center;
}

    .cont-btn button {
        text-align: center;
        font-size: 5px;
        padding: 21px 51px;
        margin-right: 10px;
        margin-left: 10px;
    }

.sp1 {
    font-size: 12px;
    text-transform: capitalize;
}

.sp2 {
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 20px;
}

.i {
    margin: 1px 11px -21px -7px;
    width: 25px;
}

.cont-btn > span {
    display: block;
    font-size: 70px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #f9b17a;
    font-weight: 500;
}

.cont-post {
    margin-top: 200px;
    width: 100%;
    height: 944px;
    background-image: url(img/0-MHzFf1rO4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* .cont-post img{
      width: 100%;
  } */

/*               footer                */
footer {
    /* border: 1px dashed grey; */
    height: 300px;
}

    footer .ftr-container {
        height: 200px;
        width: 80%;
        margin: auto;
        /* border: 1px dashed grey; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

        footer .ftr-container > div {
            width: 30%;
            height: 100%;
            text-align: center;
        }

    footer > div h2 {
        color: #f9b17a;
        font-weight: 500;
        margin-bottom: 30px;
        text-transform: capitalize;
    }

    footer > div h5 {
        text-transform: capitalize;
        color: #FFF;
        font-weight: 300;
        margin: 5px 0 5px 0;
    }

    footer .logo {
        width: 150px;
        margin: 20px auto 0;
    }

.fdb {
    text-align: start;
}

.logo + div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    width: 191px;
}

.fdb div img {
    cursor: pointer;
}

/*         menshow           */
/* section , body{
      border: 2px solid grey;
  } */
#show {
    width: 98%;
    height: 390px;
    background-color: #f6f6f9;
    position: absolute;
    left: 10px;
    z-index: 1;
    top: -610px;
    border-radius: 0 0 90px 90px;
    box-shadow: 0px 6px 17px #6868683d;
    transition: top 0.7s;
}

.close {
    width: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.7s;
    border-radius: 30px;
}

    .close:hover {
        background: #FFF;
    }

.cont-mn {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .cont-mn img {
        margin: 0 80px;
    }

.links {
    width: 270px;
    height: 275px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

    .links div {
        width: 100%;
        height: 60px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .links div a {
            font-size: 27px;
            text-transform: capitalize;
            color: #FFF;
            text-decoration: none;
            transition: color 0.3s;
        }

            .links div a:hover {
                color: #f9b17a;
            }

        .links div img {
            position: absolute;
            right: 0;
            width: 70px;
        }

@media screen and (max-width: 865px) {
    .sd h1 {
        font-size: 46px;
        color: #FFF;
        line-height: 55px;
        font-weight: 500;
    }

    .ftr {
        width: 100%;
    }

    .worker {
        border: none;
    }

    header nav ul li a {
        display: none;
    }

    .links div a {
        font-size: 20px;
    }

    footer .ftr-container {
        height: 390px;
        min-height: 390px;
        width: 99%;
        margin: auto;
        /* border: 3px dashed grey; */
        display: inline-block;
    }

        footer .ftr-container > div {
            width: 174px;
            height: 223px;
            text-align: center;
            float: left;
        }

    footer {
        height: 395px;
    }
}

@media screen and (max-width: 585px) {
    header nav ul li {
        display: inline-block;
        margin-right: 23.5px;
        margin-left: 13.5px !important;
    }

    header > nav > div {
        margin: 0 0 0 -20px;
    }

    header {
        height: 100vh;
        width: 100%;
        max-width: 1420px;
        margin: auto;
    }

        header nav {
            width: 296px;
            margin: auto;
            height: 100px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
        }

            header nav ul {
                display: grid;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                width: 1px;
            }

                header nav ul li {
                    display: inline-block;
                    margin-right: 23.5px;
                    margin-left: 23.5px;
                }

                    header nav ul li a {
                        text-decoration: none;
                        font-size: 13pt;
                        color: #a19daf;
                        text-transform: capitalize;
                    }

                    header nav ul li img {
                        width: 50px;
                        cursor: pointer;
                        border-radius: 30px;
                        transition: background 0.3s;
                    }

                        header nav ul li img:active {
                            background: rgba(128, 128, 128, 0.255);
                        }

    .ftr {
        text-align: center;
    }

        .ftr h2 {
            font-size: 46px;
        }

    .fir {
        width: 90%;
        height: 240%;
    }

    .cmn {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    header div img {
        width: 172.8px;
    }

    .container-div-prt {
        width: 100%;
        height: 490px;
        /* border: dashed grey 1px; */
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .prt {
        /* height: 20%; */
        /* border: 1px solid grey; */
        display: flex;
        justify-content: center;
    }

    .st {
        width: 100%;
        height: 370px;
        overflow-x: hidden;
    }

    .sd {
        width: 100%;
        position: relative;
        height: 101px;
        display: flex;
        justify-content: center;
        flex-flow: row;
        align-items: center;
    }

    .st img {
        width: 100%;
        min-width: 320px;
    }

    .sd span {
        display: none;
    }

    .sd h1 {
        display: none;
    }

    .ris {
        margin: auto;
        width: 194px;
        height: 102px;
        display: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .icon2 {
        width: 20px;
        margin: -7px 3px -5px;
    }

    .tw p {
        font-size: 13px;
    }

    .why {
        height: 640px;
    }

    .cont-btn > span {
        font-size: 40px;
    }

    .container-div-why {
        flex-direction: column-reverse;
    }

    .dr {
        width: 89%;
    }

        .dr figure img {
            min-width: 230px;
        }

    .cont-btn {
        width: 100%;
    }

        .cont-btn button {
            padding: 22px 39px;
        }

    footer {
        height: 895px;
    }

    .ftr-container {
        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        height: 900px !important;
    }

    .cont-mn {
        height: 100px;
    }

    .cmn {
        position: absolute;
        top: 22px;
        left: -20px;
    }

    .close {
        position: absolute;
        right: -15px;
    }

    .cont-mn img {
        margin: 0 40px;
    }

    #show {
        padding: 0 10px 0 15px;
        border-radius: 0 0 40px 40px;
    }

    .links div img {
        width: 44px;
    }
}

button {
    border-radius: 20px;
    border: 1px solid #f9b17a;
    border-radius: 5px;
    background-color: #f9b17a;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

    button a {
        color: #424769;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
    }


    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
        margin-top: 15px;
        font-size: 12px;
    }

form {
    background-color: #424769;
    display: flex;
    color: #f5f5f5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.button-form {
    margin-top: 15px;
}

.container {
    background-color: #424769;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #424769;
    background: -webkit-linear-gradient(to right, #ececec, #424769);
    background: linear-gradient(to right, #be825a, #fab988);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }

.button {
    min-width: 150px;
    min-height: 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #f9b17a;
    background: linear-gradient(90deg, #fcb782 0%, #ffa45e 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 6px 6px 24px #916849;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 0px;
}

nav button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(25px + 12px);
    border: 1px solid #f9b17a;
    box-shadow: 0 0 60px #f9b17a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-3px);
}

nav button:hover::before, nav button:focus::before {
    opacity: 1;
}

nav button:not(.btnn-ent)::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 3px solid #f9b17a;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

nav button:hover::after, nav button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 15px;
        height: 15px;
        opacity: 0.5;
    }

    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

.btnn {
    margin-left: -2%;
}
