<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @Styles.Render("~/Content/about.css")
</head>
<body>
    <h1>Шуршунчики</h1>
    <div class="foto">
        <div class="person">
            <div class="container">
                <div class="container-inner">
                    <img class="circle"
                         src="img/back.jpg" />
                    <img class="img img1"
                         src="img/Avva.png" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Александр Шихов</div>
            <div class="title">Backend Developer</div>
        </div>
        <div class="person">
            <div class="container">
                <div class="container-inner">
                    <img class="circle"
                         src="img/back2.jpg" />
                    <img class="img img2"
                         src="img/Avva2.png" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Илья <br> Рыкшин</div>
            <div class="title">Designer</div>
        </div>
        <div class="person">
            <div class="container">
                <div class="container-inner">
                    <img class="circle"
                         src="img/back3.jpg" />
                    <img class="img img3"
                         src="img/Avva3,png.png" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Александр Жирков</div>
            <div class="title">Frontend Developer</div>
        </div>
        <div class="person">
            <div class="container">
                <div class="container-inner">
                    <img class="circle"
                         src="img/back4.jpg" />
                    <img class="img img2"
                         src="img/Avva4.png" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Галина <br> Осина</div>
            <div class="title">Project Manager</div>
        </div>
    </div>
    <script src="about.js"></script>
</body>
</html>